.navbar-item {
  margin-left: 3rem;
}
.navbar-item:hover {
  color: #fff !important;
}

a.navbar-item.nav-link.active {
  color: #1a374d !important;
  background-color: transparent !important;
}
a.navbar-item.nav-link.active:hover {
  color: #b1d0e0 !important;
}
span {
  font-weight: 500;
}
.web-logo {
  width: 4rem;
  padding-left: 10px;
}

.btn-scale:hover {
  transform: scale(1.05) !important;
  transition: all 0.5s ease 0s !important;
}

.sticky {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-nav {
  margin: 12px 0 !important;
}

@media (min-width: 992px) and (max-width: 1041px) {
  .navbar-item.nav-link {
    margin-top: -25px !important;
  }
  .navbar {
    height: 80px !important;
  }
}
